@import "./../../../css/color.scss";

.create-blog {
  max-width: 900px;
  width: 100%;
  margin: 2rem auto 0;
  padding: 0 1rem;
  h2 {
    font-size: 2rem;
    color: $primary;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
  form {
    margin-top: 2rem;
    .display-img {
      img {
        width: 100%;
        margin-bottom: 2rem;
        cursor: pointer;
      }
    }
    .input-wrapper {
      margin-bottom: 1.9rem;
      input,
      textarea,
      select {
        width: 100%;
        font-size: 1.1rem;
        padding: 0.5rem;
      }
      .ck-editor__editable {
        min-height: 15rem;
      }
      .img-label {
        font-size: 1.1rem;
        padding: 0.7rem 4rem;
        background-color: $primary;
        color: #fff;
        border-radius: 0.3rem;
        cursor: pointer;
      }
    }
    button {
      width: 100%;
      margin-top: 1rem;
      font-size: 1.1rem;
      padding: 0.7rem 4rem;
      background-color: #2f5d62;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 0.3rem;
      cursor: pointer;
    }
    .loader {
      border-radius: 50%;
      border: 0.3rem solid lightgrey;
      height: 2rem;
      width: 2rem;
      border-top: 0.3rem solid $primary;
      animation: loader 2s linear infinite;
      margin-top: 1rem;
    }
    @keyframes loader {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
